= render 'layouts/flashes'
%h1 日記一覧
- @diaries.each do |d|
  %p= d.title
  %p= d.content
  %p= d.lat
  %p= d.lng
  - if d.image?
    = image_tag d.image.url
  = link_to '編集', edit_diary_path(d.id)
  %hr
= link_to 'プロフィール', user_path(current_user)
= link_to '新規日記投稿', new_diary_path
