= render 'layouts/flashes'
- @diaries.each do |d|
  .uk-grid.uk-grid-small.uk-text-center
    .uk-width-2-3@m.uk-width-2-3@l.uk-width-2-3@s
    - if d.image?
      .uk-card.uk-card-body.uk-width-2-3@m.uk-width-2-3@l.uk-width-2-3@s{uk: {scrollspy: "cls: uk-animation-slide-left; repeat: true"}}
        .diary-image= image_tag d.image.url

    .uk-card.uk-card-body.uk-width-1-3@m.uk-width-1-3@l.uk-width-1-3@s{uk: {scrollspy: "cls: uk-animation-slide-right; repeat: true"}}
      %p.uk-text-bold.uk-margin-small-top= d.title
      %p.uk-text-small.uk-text-muted= d.lat
      %p.uk-text-small.uk-text-muted= d.lng
      .uk-margin
        = link_to '編集', edit_diary_path(d.id), class: 'uk-button uk-button-primary uk-button-small'
        = link_to 'この日記を見る', diary_path(d.id), class: 'uk-button uk-button-default uk-button-small uk-margin-small'
= paginate @diaries, theme: 'custom'
= link_to '地図バージョンに切り替える', map_index_diaries_path, class: 'uk-button uk-button-default uk-button-small uk-margin-small'
