%h1.uk-h1.uk-text-center
  %span= @diary.title
.uk-margin
  - if @diary.image?
    .uk-text-center.snapkin-photo
      = image_tag @diary.image.url
.uk-margin
  - @diary.categories.each do |category|
    %span{uk: {icon: 'icon: tag'}}
    %small= category.name
%p.uk-text-small= simple_format(h @diary.content)
#map.uk-margin{style: 'width: 100%; height: 320px;'}
%span.uk-text-small.uk-text-muted
  緯度：
  %small#lat-value{data: {lat: @diary.lat}}= @diary.lat
%span.uk-text-small.uk-text-muted
  経度：
  %small#lng-value{data: {lng: @diary.lng}}= @diary.lng
.uk-margin.uk-text-center
  = link_to '戻る', :back, class: 'uk-button uk-button-default'
  = link_to '編集', edit_diary_path(@diary.id), class: 'uk-button uk-button-primary'
  = link_to '削除', diary_path(@diary.id), method: :delete, class: 'uk-button uk-button-danger', data: {confirm: '日記を削除してもよろしいですか？'}
= render 'layouts/google_map_api'
:javascript
  var map;
  var lng = document.getElementById('lng-value');
  var lng_value = parseFloat(lng.getAttribute("data-lng"));
  var lat = document.getElementById('lat-value');
  var lat_value = parseFloat(lat.getAttribute("data-lat"));

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: lat_value, lng: lng_value},
      zoom: 8
    });

    var marker = new google.maps.Marker({
      map: map,
      position: {lat: lat_value, lng: lng_value}
    });
  }

  window.onload = function () {
    initMap();
  };
