= form_for(object, html: {class: 'uk-form-horizontal'}) do |f|
  .field.uk-margin
    - if object.image?
      .uk-width-large
        = image_tag object.image.url
    .uk-form-controls= f.file_field :image
    = f.hidden_field :image_cache
  = f.label :first_name, class: 'uk-form-label'
  .uk-form-controls-text= f.text_field :first_name, class: 'uk-input'
  = f.label :last_name, class: 'uk-form-label'
  .uk-form-controls-text= f.text_field :last_name, class: 'uk-input'
  = f.label :nick_name, class: 'uk-form-label'
  .uk-form-controls-text= f.text_field :nick_name, class: 'uk-input'
  - if object.new_record?
    = f.label :email, class: 'uk-form-label'
    .uk-form-controls-text= f.email_field :email, class: 'uk-input'
    = f.label :password, class: 'uk-form-label'
    .uk-form-controls-text= f.password_field :password, class: 'uk-input'
    = f.label :password_confirmation, class: 'uk-form-label'
    .uk-form-controls-text= f.password_field :password_confirmation, class: 'uk-input'
  =f.submit '登録', class: 'uk-button uk-button-primary uk-margin'
