= render 'layouts/flashes'
%h1 ようこそ！！ #{@user.first_name}#{@user.last_name}さん
.user_info
  %p= @user.first_name
  %p= @user.last_name
  %p= @user.email
  %p= @user.nick_name
  %p= @user.default_lat
  %p= @user.default_lng
  = link_to '日記投稿画面へ', new_diary_path
  = link_to 'ログアウト', logout_path
