.uk-text-center
  %h3.uk-text-lead #{@user.first_name}#{@user.last_name}でログイン中
  = image_tag @user.image.url, class: 'uk-border-circle', height: '100', width: '100'
  %ul.uk-list.uk-list-divider.uk-list-large
    %li
      %span.uk-margin-small-right{uk: {icon:'user'}}
      %span #{@user.first_name} #{@user.last_name}
    %li
      %span.uk-margin-small-right{uk: {icon: 'mail'}}
      %span= @user.email
    %li
      %span.uk-margin-small-right{uk: {icon: 'users'}}
      %span ニックネーム：#{@user.nick_name}
    %li
      %span.uk-margin-small-right{uk: {icon: 'location'}}
      %span 緯度：#{@user.default_lat}
    %li
      %span.uk-margin-small-right{uk: {icon: 'location'}}
      %span 経度：#{@user.default_lng}
  .uk-margin
    = link_to 'Edit Profile', edit_user_path, class: 'uk-button uk-button-secondary'
    = link_to 'Logout', logout_path, class: 'uk-button uk-button-danger'
