<!DOCTYPE html>
<html>
  <head>
    <title>Snapkin</title>
    <%# webpacker用 %>
    <%# TODO: bootstrapの適用がこれで合ってるのが微妙。。。あとで確認してみる %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application'%>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
