!!! 5
%html
  %head
    %title Snapkin
    %meta{ charset: 'UTF-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ name: 'robots', content: 'noindex,nofollow,noarchive,noodp,noydir' }
    = javascript_pack_tag 'application','data-turbolinks-track': 'reload'
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    - if current_page?(detail_services_path)
      %article
        = yield
    - else
      %article
        .uk-container
          = yield
